{
  "extends": ["../../.eslintrc"],
  "env": {
    "node": true
  },
  "rules": {
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-unused-vars": ["warn", { "argsIgnorePattern": "type" }]
  }
}
