.spinner {
  --size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &--small {
    --size: 1rem;
  }

  &::before {
    content: '☄️';
    height: var(--size);
    width: var(--size);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: var(--size);
    line-height: var(--size);

    transform-origin: 0 0;

    opacity: 0;

    animation: spin 1s 0.64s infinite, fade-in 0.32s 0.64s forwards;
  }
}

@keyframes spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
