.app-header {
  height: 3rem;
  width: 100%;

  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #fafafa;

  &__logo {
    display: flex;
    align-items: center;

    font-family: 'Comfortaa', cursive;

    > i {
      font-style: normal;
      font-size: 1.2rem;
    }

    > span {
      font-size: 1.4rem;
    }
  }

  &__user {
    z-index: 20;
    position: relative;
    cursor: pointer;

    & > .user:hover {
      background: rgb(255, 238, 235);
    }
  }
}
