.chat {

  &__content {
    height: 100%;
    width: 100%;

    display: grid;
    grid:
      'message-list' 1fr
      'message-input' auto;

    > .message-list {
      grid-area: message-list;
    }

    > .message-input {
      grid-area: message-input;
    }
  }
}
