.chat {

  &__content {
    height: 100%;
    width: 100%;

    display: grid;
    grid:
      'message-list' 35.6rem
      'message-input' 4rem;

    > .message-list {
      grid-area: message-list;

      overflow-y: auto;
    }

    > .message-input {
      grid-area: message-input;
    }
  }
}
