.page-card {
  max-height: calc(100vh - 4rem);

  justify-self: center;

  padding-bottom: 2rem;
  display: grid;
  grid:
    '....... header  ...' auto
    'tooltip content ...' 1fr
    '....... content ...' auto /
    1fr 40rem 1fr;
  column-gap: 0.5rem;

  border-radius: 0.5rem 0.5rem 0 0;
  animation: fade-in 0.32s forwards;

  &__header {
    grid-area: header;

    z-index: 10;
    height: 4rem;
    padding: 1rem 2rem;

    display: flex;
    align-items: center;

    background: white;
    border-radius: 0.5rem 0.5rem 0 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }

  &__content {
    grid-area: content;

    background: #f2f2f2;
    border-radius: 0 0 0.5rem 0.5rem;

    display: grid;
  }

  &__tooltip {
    grid-area: tooltip;

    max-height: 100%;
    min-width: 5rem;

    padding-top: 1rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    > *:not(:first-of-type) {
      margin-top: 0.25rem;
    }
  }
}

@keyframes fade-in {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
